body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

.form {
  max-width: 320px;
  background-color: #fff;
  padding: 15px;
  margin: 20px auto;

}

.input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 16px;
}

.input:-ms-input-placeholder{
  color:#7ea7d3;
}
.input::-ms-input-placeholder{
  color:#7ea7d3;
}
.input::placeholder{
  color:#7ea7d3;
}


.btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 0;
  border-radius: 20px;
  background-color: #1cbc11;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #14a20a;
}

.input[type="password"]:focus {
  background-color: #5fcbcd;
}

.input:focus {
  outline: none;
  border-color: blue;
}

.form:focus-within {
  background: #c5e2bd;
}